body {
  background-image: url('tausta.jpg');
  text-align: center;
}

@font-face {
  font-family: fontti;
  src: url(fontti.ttf);
}

h3 {
  font-family: fontti;
  font-size: 28px;
  color: #F4FF46;
}


.vaseninfo {
  width: 25%;
  font-family: tahoma;
  position: absolute;
  color: #F4FF46;
  float left;
  margin-left: 20px;
}

.oikeainfo {
  width: 25%;
  font-family: tahoma;
  color: #F4FF46;
  float: right;
  margin-top: 135px;
  margin-right: 20px;
}

#matoMaailma {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

#tulos {
  display: inline-block;
  font-family: fontti;
  font-size: 40px;
  color: #F3B436;
}

#nappi {
  background-color: transparent;
  border: transparent;
  color: #1ac6ff;
  font-family: fontti;
  font-size: 30px;
  padding: 20px;
  margin-top: 250px;
  position: relative;
  z-index: 1;
  margin-left: 35%;
}

#nappi:hover {
  color: #ff0040;
  cursor: pointer;
}

#gameover {
  text-align: center;
  font-family: fontti;
  font-size: 70px;
  margin-top: 250px;
  background-color: rgba(000, 000, 000, 0.9);
  color: #00FF09;
}

canvas {
  border: 3px solid #F4FF46;
  border-radius: 2px;
  margin: 50px;
}

#paras {
  font-family: fontti;
  font-size: 40px;
  color: #F3B436;
  display: inline-block;
}


.score {
  display: inline-block;
  margin-left: 520px;
}

.highscore {
  text-align: center;
  display: inline-block;
  margin-left: 150px;
}
