body {
  padding: 40px;
  background-color: #333333;
}

h1 {
color: white;
font-family: arial;
margin-bottom: 40px;
}

.center {
  background-color: #333333;
  text-align: center;
  width: 60%;
  margin: auto;
  height: auto;
  border: 3px solid #66ff33;
  border-radius: 3px;
  padding: 40px;
}

input {
  width: 40%;
  height: 30px;
  margin-left: 5%;
  padding: 2px;
  border: 2px solid #ffffff;
  border-radius: 3px;
  font-family: arial;
  font-weight: bold;
  font-size: 13px;
  color: #333333;
}

input:focus {
outline: 0px solid #ffffff;
border: 3px solid #ff6600;
}

input::placeholder {
  color: #595959;
  font-style: italic;
}

#enter:focus {
  border: 1px solid #ff6600;
  outline: 0px solid #333333;
  background-color: #ff6600;
}

#enter {
  background-color: #66ff33;
  border: 1px solid #66ff33;
  border-radius: 2px;
  width: 35px;
  height: 35px;
  margin-left: 20px;
  padding: 2px;
  font-family: arial;
  font-weight: bold;
  font-size: 20px;
  color: #ffffff;
}

#enter:hover {
  background-color: #ff6600;
  border: 1px solid #ff6600;
}

#tehtavaLista {
  list-style-type: none;
}

.tehtavat {
margin-top: 70px;
width: 80%;
margin-left: 10%;
}

li {
  background-color: #ff6600;
  width: 67%;
  margin-left: 15%;
  margin-bottom: 5px;
  height: 30px;
  padding: 5px;
  text-align: left;
  border: 4px solid #ff6600;
  border-radius: 2px;
  font-family: arial;
  vertical-align: middle;
  font-size: 15px;
  color: #333333;
}

.tehty {
background-color: #66ff33;
color: #333333;
}

li > button {
  float: right;
  width: 30px;
  height: 30px;
  text-align: center;
  background-color: #ff6600;
  border: 0px;
  color: #333333;
  font-weight: bold;
}

li > button:focus {
outline: 0px solid #ff6600;
border: 3px solid #ff6600;
}
