.napit button {
  background-color: #E1FA00;
  border: 1px solid black;
  color: black;
  font-weight:bold;
  font-size: 150%;
  text-shadow: 2px 2px #888888;
  margin-bottom: 5%;
  margin-left:auto;
  margin-right:auto;
  padding: 10px 24px;
  cursor: pointer;
  width: 20%;
  display: block;
  border-radius: 30px;
  box-shadow: 3px 4px 0px 0px #444444;
}

.napit button:hover {
  background-color: black;
  color: white;
}

.napit button:active {
  position:relative;
  top: 2px;
}


#indexBody {
  background-color: #DC0B7B;
  font-family: Helvetica, sans-serif;
}

#fourBody {
  background-color: #378B4B;
  font-family: Helvetica, sans-serif;
  display:flex;
}

#fourSixBody {
  background-color: #FFE00D;
  font-family: Helvetica, sans-serif;
  display:flex;
}

#sixBody {
  background-color: #0065E9;
  font-family: Helvetica, sans-serif;
  display:flex;
}

#otsikko1 {
  text-align:center;
  text-shadow: 2px 2px #444444;
  font-size: 300%;
  font-family: Georgia, serif;

}

#otsikko2 {
  text-align:center;
  font-style: italic;
  font-size: 120%;
}

.muistipeli {
  width: 700px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.kortti {
  width: calc(25% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform-style: preserve-3d;
  transition: transform .5s;


}

.etu,
.taka {
  width: 100%;
  height: 100%;
  border: 2px solid white;
  position: absolute;
  border-radius: 5px;
  background: #1C7CCC;
  backface-visibility: hidden;
}

.etu {
  transform: rotateY(180deg);
}

.muistipeli6 {
  width: 800px;
  height: 500px;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
}

.kortti6 {
  width: calc(15% - 10px);
  height: calc(25% - 10px);
  margin: 5px;
  position: relative;
  box-shadow: 1px 1px 1px rgba(0,0,0,.3);
  transform-style: preserve-3d;
  transition: transform .5s;

}

.kaanto {
  transform: rotateY(180deg);
}
